*{
    border: 1px solid red;
}
body{
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
header{
    display: inline-flex;
    border-bottom: 1px solid seashell;
    width: 90%;
    margin: 0 10px;
    position: fixed;
    height: 69px;
}
#navmenu{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
a{
    color: seashell;
}